{% extends "layout.html" %}
{% load i18n %}

{% block title %}{% translate "Labels" %}{% endblock %}

{% block content %}
<h1 class="my-4">{% translate "Labels" %}</h1>

<a class="btn btn-primary mb-3" href="/labels/create/">Создать метку</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% translate "ID" %}</th>
            <th>{% translate "Имя" %}</th>
            <th>{% translate "Дата создания" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for label in label_list %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at }}</td>
            <td>
                <a href="/labels/{{ label.id }}/update/">{% translate "Изменить" %}</a>
                <br>
                <a href="/labels/{{ label.id }}/delete/">{% translate "Удалить" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}