{% extends "layout.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% translate "Tasks" %}{% endblock %}

{% block content %}

<a class="btn btn-primary mb-3" href="/tasks/create/">{% translate "Create task" %}</a>
<div class="card mb-3">
    <div class="card-body bg-light">
      <form class="form-inline center" method="get">
        {% bootstrap_form filter.form %}
          <input class="btn btn-primary" type="submit" value="{% translate 'Show' %}">
      </form>
    </div>
  </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% translate "ID" %}</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Status" %}</th>
            <th>{% translate "Author" %}</th>
            <th>{% translate "Executor" %}</th>
            <th>{% translate "Created at" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in task_list %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="/tasks/{{ task.id }}">{{ task.name }}</a></td>
            <td>{{ task.status}}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_at }}</td>
            <td>
                <a href="/tasks/{{ task.id }}/update/">{% translate "Update" %}</a>
                <br>
                <a href="/tasks/{{ task.id }}/delete/">{% translate "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}