{% extends "layout.html" %}
{% load i18n %}

{% block title %}{% translate "Tasks" %}{% endblock %}

{% block content %}
<h1 class="my-4">{% translate "Tasks" %}</h1>

<a class="btn btn-primary mb-3" href="/tasks/create/">Создать задачу</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% translate "ID" %}</th>
            <th>{% translate "Имя" %}</th>
            <th>{% translate "Статус" %}</th>
            <th>{% translate "Автор" %}</th>
            <th>{% translate "Исполнитель" %}</th>
            <th>{% translate "Дата создания" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in task_list %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="/tasks/{{ task.id }}">{{ task.name }}</a></td>
            <td>{{ task.status}}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.assignee }}</td>
            <td>{{ task.created_at }}</td>
            <td>
                <a href="/tasks/{{ task.id }}/update/">{% translate "Изменить" %}</a>
                <br>
                <a href="/tasks/{{ task.id }}/delete/">{% translate "Удалить" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}